:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-family: 'Playfair Display', serif;
}

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
}
